<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <clear/>
    <add name="BD" providerName="System.Data.SqlClient"
    connectionString="server=.\SQLEXPRESS;initial catalog=db_pizza;integrated security=true;" />
  </connectionStrings>
  
  <appSettings>
    <add key="IdiomaRegiao" value="pt-BR"/>
  </appSettings>
  
</configuration>